.input {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 4px whitesmoke;
    display: block;
    margin: auto;
    margin-top: 35px;
}

.input:focus {
    outline: none;
}